<div class="register">
    <form autocomplete="off" action="/register" method="post">
        
        <label for="username">Username: </label><br>
        <input type="text" name="username" id="username" required ><br><br>

        <label for="email">Email: </label><br>
        <input type="email" name="email" id="email" required ><br><br>

        <label for="pwd">Password: </label><br>
        <input type="password" name="pwd" id="pwd" required ><br><br>

        <label for="pwdConf">Confirm Password: </label><br>
        <input type="password" name="pwdConf" id="pwdConf" required ><br><br>

        <button>Register</button>
    </form>
</div>